html, body {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

/* content */

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* header section */

h5 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-transform: uppercase;
}

.headerSection {
  background-image: url("../../resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
  width: 100%;
}

header {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 888px;
}

.headerLeft img {
  height: 1.5rem;
  margin-right: 2rem;
}

.headerLeft {
  display: flex;
  align-items: center;
}

nav ul {
  display: inline-flex;
}

a {
  color: white;
  margin-left: 2rem;
  text-decoration: none;
}

#shortMenu {
  display: none;
}

.banner {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 1032px;
}

.bannerText {
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
}

/* info section */

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.about {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3rem auto;
  width: 29rem;
}

.services {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 8rem;
  width: 7rem;
}

.servicesImage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 7rem;
}

#exams img {
  width: 3.5rem;
  height: auto;
}

#fittings img, #delivery img {
  width: 5rem;
  height: auto;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.philosophyAndAppointments {
  flex: 1;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 5rem;
  width: 1032px;
}

.philosophyAndAppointmentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
}

.philosophyAndAppointmentsContainer p {
  text-align: left;
}

#philosophyContainer {
  margin-right: 5%;
}

.philosophyAndAppointmentsHeader {
  background-color: cadetblue;
  color: white;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  text-align: left;
  width: 10rem;
}

/* footer */

footer {
  background-color: azure;
  display: flex;
  align-items: center;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: center;
  padding: 4rem;
  width: 100%;
}

.footerContent img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* media queries */

@media only screen and (max-width: 1048px) and (min-width: 827px) {

  .content {
    width: 100%;
  }

  .headerSection {
    height: 22rem;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  header {
    max-width: 100%;
    margin: 0;
  }

  .banner {
    display: block;
    float: right;
    margin-right: 2rem;
    width: auto;
  }

  .bannerText {
    background-color: white;
    margin-top: 4rem;
    padding: 0.75rem 5rem;
  }

  h5 {
    font-size: 1.33rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 826px) {

  .content {
    width: 100%;
  }

  .services span, .philosophyAndAppointmentsContainer p {
    font-size: 0.77rem;
  }

  .headerSection {
    background-image: url("../../resources/images/glasses-bg.png");
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: cover;
    height: 17rem;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }

  h5 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  header {
    max-width: 100%;
    margin: 0;
  }

  .longMenu {
    display: none;
  }

  #shortMenu {
    display: block;
  }

  .banner {
    display: block;
    text-align: center;
    width: 100%;
  }

  .bannerText {
    background-color: white;
    margin-top: 9rem;
    padding: 1rem;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3.77rem auto;
    width: 9rem;
  }

  .services {
    height: auto;
    margin-bottom: 1.54rem;
  }

  .servicesImage {
    margin-bottom: 0.8rem;
  }

  #examsImg {
    height: 60%;
  }
  #fittingsImg {
    height: 40%;
  }
  #deliveryImg {
    height: 44%;
  }

  #delivery {
    margin-bottom: 0;
  }

  #philosophyContainer {
    margin: 0;
  }

  .philosophyAndAppointments {
    flex-flow: wrap;
    justify-content: center;
    padding-bottom: 0;
    width: auto;
  }

  .philosophyAndAppointmentsContainer {
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  .philosophyAndAppointmentsHeader {
      text-align: center;
      padding: 0.5rem 0;
      width: 100%;
  }

  .philosophyAndAppointmentsContainer p {
    padding: 1rem 0.5rem 4rem 0.5rem;
    text-align: left;
  }

  #copyright, #companyName {
    display: none;
  }
