html, body {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

/* content */

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* header section */

h5 {
  font-size: 2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

.headerSection {
  background-image: url("../../resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
  width: 100%;
}

header {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 888px;
}

.headerLeft img {
  height: 1.5rem;
  margin-right: 2rem;
}

.headerLeft {
  display: flex;
  align-items: center;
}

nav ul {
  display: inline-flex;
}

a {
  color: white;
  margin-left: 2rem;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 1032px;
}

.bannerText {
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
}

/* about section */

.about {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3rem auto;
  width: 29rem;
}

.services {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 8rem;
  width: 7rem;
}

.servicesImage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 7rem;
}

#exams img {
  width: 3.5rem;
  height: auto;
}

#fittings img, #delivery img {
  width: 5rem;
  height: auto;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.philosophyAndAppointments {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 5rem;
  width: 1032px;
}

.philosophyAndAppointmentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
}

.philosophyAndAppointmentsContainer p {
  text-align: left;
}

#philosophyContainer {
  margin-right: 5%;
}

.philosophyAndAppointmentsHeader {
  background-color: cadetblue;
  color: white;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  text-align: left;
  width: 10rem;
}

/* footer */

footer {
  background-color: azure;
  display: flex;
  align-items: center;
  width: 100%;
}

.footerContent {
  display: inline-flex;
  margin: 0 auto;
  padding: 4rem;
  width: 888px;
}

.footerContent img {
  height: 1.5rem;
  margin-right: 1rem;
}
